#container-box{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    border: 2px solid black;
    height: 400px;
    width: 200px;
}
.box{
    border: 1px solid brown;


}