@tailwind base;
@tailwind components;
@tailwind utilities;
#body{
 background:burlywood;
}
#flex{
    display: flex;
}
#box{
    width: 40vw;
    height: 30vh;
    border: 2px solid black;
    border-radius:0cqi;
    text-align: center;
    background:aliceblue;
    padding: 0;
    margin: 0;
}
#im{
    width: 98%;
    height: 25vh;
    border:3px solid blueviolet;
    overflow: hidden;
}